body {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.navbar-wrapper {
    background: rgba(0,0,0,0.2);
}
body {
    font-family: 'Signika', sans-serif;
}

.bg-grey {
    background: #5F5F5F;
}

.logo-footer {
    margin-bottom: 40px;
}

footer {
    color: grey;
}

.btn-footer {
    color: #00D474;
    text-decoration: none;
    border: 1px solid;
    border-radius: 43px;
    font-size: 13px;
    padding: 7px 30px;
    line-height: 47px;
}

    .btn-footer:hover {
        text-decoration: none;

    }


footer ul li {
    list-style: none;
    display: block;
}

footer ul {
    padding-left: 0;
}

    footer ul li a {
        text-decoration: none;
        color: #00D474;
        text-decoration: none;
    }

a:hover {
    text-decoration: none;
    color: #00BBFF !important;
}

.logo-part {
    border-right: 1px solid grey;
    height: 100%;
}



.header-site {
    background-color: #000000;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.fixed-button {
    margin: 20px;
    background-color: #00BBFF;
    color: #FFFFFF;
    border: none;
    outline: none;
    position: fixed;
    bottom: 0px;
    right: 15px;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
    border-radius: 50%;
    box-shadow: 1px 3px 5px #888888;
}

@keyframes wobble {
    16.65% {
        -webkit-transform: translateY(8px);
        -ms-transform: translateY(8px);
        transform: translateY(8px);
    }

    33.3% {
        -webkit-transform: translateY(-6px);
        -ms-transform: translateY(-6px);
        transform: translateY(-6px);
    }

    49.95% {
        -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
        transform: translateY(4px);
    }

    66.6% {
        -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
        transform: translateY(-2px);
    }

    83.25% {
        -webkit-transform: translateY(1px);
        -ms-transform: translateY(1px);
        transform: translateY(1px);
    }

    100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.wobble {
    -webkit-animation-name: wobble;
    animation-name: wobble;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.ChangeColorText {
    color: #00BBFF;

}


ul {
    list-style: none;

}

.form-rounded {
    border-radius: 1rem;
}



* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
    background-color: #fafbfd;
}

    #notfound .notfound {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.notfound {
    max-width: 520px;
    width: 100%;
    text-align: center;
}

    .notfound .notfound-bg {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: -1;
    }

        .notfound .notfound-bg > div {
            width: 100%;
            background: #fff;
            border-radius: 90px;
            height: 125px;
        }

            .notfound .notfound-bg > div:nth-child(1) {
                -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
                box-shadow: 5px 5px 0px 0px #f3f3f3;
            }

            .notfound .notfound-bg > div:nth-child(2) {
                -webkit-transform: scale(1.3);
                -ms-transform: scale(1.3);
                transform: scale(1.3);
                -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
                box-shadow: 5px 5px 0px 0px #f3f3f3;
                position: relative;
                z-index: 10;
            }

            .notfound .notfound-bg > div:nth-child(3) {
                -webkit-box-shadow: 5px 5px 0px 0px #f3f3f3;
                box-shadow: 5px 5px 0px 0px #f3f3f3;
                position: relative;
                z-index: 90;
            }

    .notfound h1 {
        font-family: 'Quicksand', sans-serif;
        font-size: 86px;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 8px;
        color: #151515;
    }

    .notfound h2 {
        font-family: 'Quicksand', sans-serif;
        font-size: 26px;
        margin: 0;
        font-weight: 700;
        color: #151515;
    }

    .notfound a {
        font-family: 'Quicksand', sans-serif;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
        background: #888888;
        display: inline-block;
        padding: 15px 30px;
        border-radius: 5px;
        color: #fff;
        font-weight: 700;
        margin-top: 20px;
    }

.notfound-social {
    margin-top: 20px;
}

    .notfound-social > a {
        display: inline-block;
        height: 40px;
        line-height: 40px;
        width: 40px;
        font-size: 14px;
        color: #fff;
        background-color: #dedede;
        margin: 3px;
        padding: 0px;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

        .notfound-social > a:hover {
            background-color: #18e06f;
        }

@media only screen and (max-width: 767px) {
    .notfound .notfound-bg {
        width: 287px;
        margin: auto;
    }

        .notfound .notfound-bg > div {
            height: 85px;
        }
}

@media only screen and (max-width: 480px) {
    .notfound h1 {
        font-size: 68px;
    }

    .notfound h2 {
        font-size: 18px;
    }
}
