body {

    width: 100%;
    height: 100%;
}

/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.navbar-wrapper {
    background: rgba(0,0,0,0.2);



}

