@*@model IEnumerable<WHATISNEXT.Models.upcomingMovies.Result>*@
@model WHATISNEXT.ViewModels.MainPageViewModel

@{
    ViewBag.Title = "Home Page";
}


@Html.Partial("_UpComingMoviesTemplate")

@Html.Partial("_PopularMovies")


<hr />
<br />
@Html.Partial("_SearchMovies")


<button class="fixed-button wobble" onclick="hello()" type="button">
    <i class="ion-plus-round">SWITCH</i>
</button>

<script>

    function hello() {
        alert('Hello Word');
    }
</script>