@model WHATISNEXT.Models.genreMovies.RootObject

@{
    ViewBag.Title = "MovieGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />


<div class="container p-5">
    <h2>Movie Genres</h2>
    @foreach (var item in Model.genres)
    {
        @*<a href="href='@Url.Action("MoreInfo", "Home", new { item.id  })">   GO SOMEWHERE *@
        <a href='@Url.Action("DiscoverMovies", "Home", new { genre = item.id  })'>
            @Html.DisplayFor(modelItem => item.name) <br />
        </a>
    }
</div>

