@model WHATISNEXT.Models.genreTV.RootObject
@{
    ViewBag.Title = "TVGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />

<div class="container p-5">
    <h2 class="ChangeColorText">TV Genres</h2>
    @foreach (var item in Model.genres)
    {
        @*<a href="href='@Url.Action("MoreInfo", "Home", new { item.id  })">   GO SOMEWHERE *@
        <ul>
            <li>
                <a class="btn btn-outline-light" href='#'>
                    @Html.DisplayFor(modelItem => item.name) <br />
                </a>
            </li>
        </ul>

    }
</div>

